@import "../../sass/helpers/variables";
@import "../../sass/helpers/mixins";

.section-grid {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, 50%);

  @include mw($tb) {
    grid-template-columns: 1fr;
  }
}

.about,
.choose,
.contact,
.service {
  border-bottom: 1px solid #121212;
}
